.menu_user_wrap .menu_user_contact_area {
    padding-top: 7px;
}

.menu_user_wrap .menu_user_left {
    float: left;
}
div {
    display: block;
}
.menu_user_wrap {
    font-size: 0.75em;
    height: 33x;
}
.isotope_item_courses {
  width: 100%;
}
.isotope_item {
  height: 345px;
  width: 366px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.itemCourse {
  flex: 0 0 calc(33.33% - 30px);
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .itemCourse {
    flex-basis: 100%;
  }
}
.card-body-course {
  right: -458px;
}
.row, .columns_wrap {
  margin-left: 0px;
  margin-right: 0px;
}

.itemCourseQ {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardCourseQ {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 33px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.question-container {
  margin-bottom: 20px;
}

.question-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.choices-container {
  display: flex;
  flex-wrap: wrap;
}

.choice-button {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}


.choice-button:hover,
.choice-button:focus {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
.titleChoice{
  color: black;
}

.app2 {
  background-color: #b7b7b7;
  width: 76rem;
  margin-bottom: 19rem;
  margin-top: 12rem;
  margin-left: 15rem;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(211, 211, 211, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.question-section {
  width: 100%;
  color: white;
  position: relative;
  display: inline-block; /* add this */
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

.answer-section {
  display: inline-block; /* add this */
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px; /* add this */
  vertical-align: top; /* add this */
}

.answer-section button {
  margin: 10px;
}

.button-container {
  display: inline-block; /* add this */
  margin-left: 20px; /* add this */
  vertical-align: top; /* add this */
}

button {
  width: auto;
  font-size: 16px;
  color: #ffffff;
  background-color: #1b379c;
  border-radius: 5px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.btnCart{
  width: 50px;
  font-size: 16px;
  /* color: #ffffff; */
  background-color: #252d4a;
  border-radius: 15px;
  display: block !important;
  padding: 5px;
  /* justify-content: flex-end; */
  /* align-items: center; */
  border: 5px solid #234668;
  cursor: pointer;
}
.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}
.top_panel_wrap {
  height: 189px;
}
.content_wrap{
  margin-top: -12px;
}