.css-8atqhb {
    width: 100%;
    height: auto;
    max-width: 811px;
    padding: 5px;
    margin: 0 auto;
    box-shadow: 0 0 0px rgba(160, 46, 46, 0.1);
    border-radius: 1.2rem;
    border: solid #CCE4FF;
    
}