
  .custom-btn {
    font-size: 18px;
  }

  .custom-text {
    font-family: sans-serif;
  }
  .btn-jaune {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
  }
  
  .btn-jaune:hover {
    background-color: #ffca2b;
    border-color: #ffca2b;
  }
  
  .btn-jaune:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
  }
  
  .btn-jaune:active {
    background-color: #f5b700;
    border-color: #f5b700;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  .error-container {
    margin-top: 5px;
  }

  .password-container {
    position: relative;
}
  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 9px;
    cursor: pointer;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: white;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  text-align: center;
}

#reset-password-btn {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}


