.card {
    height: 100vh; /* La carte a une hauteur égale à la hauteur de l'écran */
    width: 50vw; /* La carte a une largeur égale à la moitié de la largeur de l'écran */
    max-width: 500px; /* La largeur maximale de la carte est de 500 pixels */
    margin: 0 auto; /* La carte est centrée horizontalement */
    background-color: #ffffff; /* La couleur de fond de la carte */
    border: 1px solid #000000; /* La bordure de la carte */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* L'ombre de la carte */
    padding-top: 20px; /* L'espacement interne de la carte */
    
  }
  