.bg{
    background-color: black;
}
.top_panel_wrap{
    background-color: darkgreen;
    position:relative;
	top:0;
	left:0;
	right:0;
    top:32px;
    -webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out; 
            position:fixed;
}
