.bg {
  background-color: #0D1B48;
}

body {
  background-color: #c9cee0;

  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

.profi{
  display: flex;
  flex-direction: column;
  gap: 5em; 
}

.upload {
  width: 300px;
  margin-left: 180px;
}

.container1 {
  /* height: 700px;
  width: 700px; */
  width: 50%;
  /* Set the width to whatever value you want */
  margin: 0 auto;
  /* Center the element horizontally */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;

}

.Buttons a {
  width: 60px;
  height: 30px;
  margin-top: 150px;

}

div.mt-3 {
  line-height: 0.2;
}

div.mt-3 h4 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
  color: #007bff;
}

div.mt-3 p.text-secondary,
div.mt-3 p.text-muted {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}


.PostButtons {

  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 700px;
}

.PostButton {
  width: 50px;
  height: 20px;
  left: -60px;

}

.be {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  background:  #3aaf85;
  color: #222;
  cursor: pointer;
  opacity: 0.8;
}


.bpb{

background-color:  #3aaf85;;

}


.beb {
  padding: 10px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 100;
  background: #45f3ff;
  color: #222;
  cursor: pointer;
  opacity: 1.8;
  width: 150px;
  height: 45px;
  margin-left: 80px;
}


.bds {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  background: #7f7b7bd7;
  color: #222;
  cursor: pointer;
  opacity: 0.8;
}

.bdp {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  background: #fdf4f4d7;
  color: #222;
  cursor: pointer;
  opacity: 0.8;
}

.rounded {
  border-radius: 50%;
}

.user_avatar{
  border-radius: 50%;
}

.bdl {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  background: #de0d0dd7;
  color: #222;
  cursor: pointer;
  opacity: 0.8;
}


.MyPost {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 5px;

}

.mt-3 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 20%;
  margin: auto;
  padding: 30px;
  align-items: center;

}

.singlePost {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 2px 2px 2px 2px;
  border-radius: 10px;
}

.Buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-right: -550px;

}

.Buttons div button {
  width: 150px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 15px 20px 15px;


}

.singleButton {
  width: 150px;
  height: 50px;
}


.card1 {
  background-color: #3498DB;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transform: rotateY(180deg);
  animation: 2s hideCard linear;
  transition: transform 0.5s;
}

@keyframes hideCard {

  0%,
  70% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(180deg);
  }
}

.card1 img {
  max-width: 80%;
  max-height: 80%;
  transition: transform 0.5s;
  transform: scale(0);
  animation: 2s hideImage linear;
}

@keyframes hideImage1 {

  0%,
  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.con1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.con2 {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px;
  gap: 20px;
  align-items: start;
  margin-top: -60px;
}

.userId-flex {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.button-User-id {
  width: 100px;
}

.conn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.con {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 0px;
}

.Search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.Inputs{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.buttonSideBySide{
  display: flex;
  margin-left: 110px;
}


.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.con>* {
  margin-bottom: 40px;

}

.conside {
  margin-top: -60px;
  margin-left: 65px;
  right: 215px;
}

.LeftCard {
  position: absolute;
  left: 30px;
  top: 100px;
  width: 300px;
  height: 700px;
}


.RightCard {
  position: absolute;
  right: 30px;
  top: 100px;
  width: 300px;
  height: 700px;
  border-radius: 5px;
  /* arrondit les coins de la bordure */
  box-shadow: 10 10 5px rgba(0, 0, 0, 0.1);
  /* ajoute une ombre à la bordure */


}

.heading {
  color: #208163;
  font-size: 30px;
  top: 20%;
  left: 50%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  letter-spacing: 5px;
  white-space: pre-wrap;
  line-height: 1.2;
}

.heading::after {
  content: "";
  width: 5px;
  height: 55px;
  background-color: white;
  position: absolute;
  animation: blinking 1s 3s infinite;
}

.prof_img {
  width: 200px;
  height: 180px;
  border-radius: 50%;
  margin: 235px;
  overflow: hidden;
  margin-bottom: -50px;
  margin-top: 50px;
}

.prof_img_avat{
  border-radius: 50%;
  overflow: hidden;
}



.social {
  display: flex;
  justify-content: center;
}

.social a {
  margin: 0 10px;
  color: #cac4c4;
  font-size: 24px;
  transition: color 0.2s ease-in-out;
}

.social a:hover {
  color: #0077b5;
  /* Couleur de LinkedIn */
}

.prof_img img {
  width: 100%;
  height: 100%;
}


.user_name {
  text-align: center;
}

.btn-lg {
  margin: 20px 5px;
  width: 200px;

}

.addContainer {
  width: 100%;
  display: flex;
  justify-content: center;

}

.addContainer form {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.addContainer form label {
  width: 100%;
}

.addContainer form textarea {
  width: 100%;
  height: 200px;
  /* ajustez la hauteur selon vos besoins */
  padding: 10px;
  /* ajoute un espace autour du texte à l'intérieur du textarea */
  font-size: 20px;
  /* taille de la police */
  border: 2px solid #ccc;
  /* ajoute une bordure autour du textarea */
  border-radius: 5px;
  /* arrondit les coins de la bordure */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  /* ajoute une ombre à la bordure */
}